---
- name: Setup a new pi in my network
  hosts: all
  become: true

  tasks:
  - name: Copy ntp config
    ansible.builtin.copy:
      src: timesyncd.conf 
      dest: /etc/systemd/timesyncd.conf 
      owner: root 
      group: root 
      mode: '0644'
  
  - name: restart time service
    ansible.builtin.service:
      name: systemd-timesyncd
      state: restarted
  
  - name: Intall updates
    ansible.builtin.apt:
      update_cache: yes 
      upgrade: dist 
      autoremove: yes 
      autoclean: yes

  - name: Remove rpi-swap 
    ansible.builtin.apt:
      name: rpi-swap 
      state: absent
  
  - name: Remove systemd-zram-generator
    ansible.builtin.apt:
      name: systemd-zram-generator
      state: absent

  - name: Enable container features
    replace:  
      path: /boot/firmware/cmdline.txt
      regexp: '^([\w](?!.*\b{{ item }}\b).*)$'
      replace: '\1 {{ item }}'
    with_items:
    - "cgroup_memory=1"
    - "cgroup_enable=memory"

  - name: Enalbe IPv4 forwarding
    sysctl:
      name: net.ipv4.ip_forward 
      value: 1 
      state: present 
      reload: yes

  - name: Make br_netfilter persistent
    ansible.builtin.shell:
    cmd: |
      echo -n br_netfilter > /etc/modules-load.d/netfilter.conf
    creates: /etc/modules-load.d/netfilter.conf

  - name: Make sure that br_netfilter is loaded
    ansible.builtin.command: modprobe br_netfilter

  - name: Enalbe iptables bridge
    sysctl:
      name: net.bridge.bridge-nf-call-iptables 
      value: 1 
      state: present 
      reload: yes


  - name: Reboot machines.
    ansible.builtin.reboot:
  
  
